<h1>Slideshow</h1>
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <div [ngStyle]="{'background-size': 'cover', 'background-image': 'url(https://image.tmdb.org/t/p/w500'+ movie.backdrop_path +')'}"
        class="swiper-slide"
        *ngFor="let movie of movies">
        <div class="movie-description">
          <h3>{{movie.title}}</h3>
          <p>{{movie.overview | slice: 0:150}}...</p>
        </div>
      </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="onSlide('prev')" class="swiper-button-prev"></div>
  <div (click)="onSlide('next')" class="swiper-button-next"></div>

</div>
